@import 'booo'

font-face('../fonts/Helvetica-Bold')

/* Colors */
$black = #212121

/* Fonts */
$primary_font = 'Helvetica-Bold', sans-serif
$secundary_font = 'Roboto', sans-serif

/* Global stylus */
svg#svg
	display none
a
	text-decoration none
	color inherit

.wrapper
	max-width 1080px
	size 100% auto
	margin auto

.subtitle
	font-family $secundary_font
	font-size 22px
	font-weight 300
	letter-spacing 3px
	line-height 27px
.title
	font-family $primary_font
	+m('big')
		font-size 55px
		line-height 60px 
	
use-box-sizing-reset()
use-reset()


/* Top nav */
header
	background-color $black
	color white
	.top-nav
		size 100% 86px
		display flex
		justify-content space-between
		align-items center
		font-family $secundary_font
		font-weight 400
		font-size rem(12px)
		+e('logo')
			height 54px
			img
				height 100%
		+e('menu')
			height 100%
			ul
				display flex
				height inherit
				li
					position relative
					height inherit
					display flex
					align-items center
					&:hover
						ul
							display flex
				ul
					display none
					position absolute
					flex-direction column
					top 86px
					height auto
					background-color $black
					li
						size 200px auto
						a
							display block
							size 90% 60px
							padding 0
							margin auto
							display flex
							justify-content center
							align-items center
						&:first-child
							a
								border-bottom 1px dashed white
			a
				letter-spacing 3.23px
				padding 0 8px
				transition color 200ms linear
				size 100%
				display flex
				align-items center
				&:hover
					color #9b922c
	
	.featured-slider
		size 100% 593px
		+e('item')
			size 100%
			background-size cover
			background-position center
			background-repeat no-repeat
		+e('text')
			size inherit
			display flex
			flex-direction column
			justify-content flex-start
			.subtitle
				margin-bottom 22px
			.title
				margin-top 60px
			hr
				border none
				margin 0
				height 2px
				background-color white
				width 200px