@font-face {
  font-family: 'Helvetica-Bold';
  src: url("../fonts/Helvetica-Bold.woff2") format('woff2'), url("../fonts/Helvetica-Bold.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Fonts */
/* Global stylus */
svg#svg {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  max-width: 1080px;
  width: 100%;
  height: auto;
  margin: auto;
}
.full-width {
  max-width: 100%;
}
.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 27px;
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 22px;
  }
}
.title {
  font-family: 'Helvetica-Bold', sans-serif;
}
.title--big {
  font-size: 26px;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .title--big {
    font-size: 55px;
    line-height: 60px;
  }
}
.long-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .long-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: end;
    align-items: flex-end;
  }
}
.long-title .title {
  font-size: 32px;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .long-title .title {
    margin-bottom: 0;
  }
}
.long-title .subtitle {
  font-size: 18px;
  padding-left: 14px;
  border-left: 1px solid #212121;
}
@media screen and (min-width: 768px) {
  .long-title .subtitle {
    margin-left: 14px;
  }
}
.text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.text b {
  font-weight: 900;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.grid {
  display: -webkit-box;
  display: flex;
}
@media (max-width: 30em) {
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
.grid .grid__col {
  -webkit-box-flex: 1;
  flex: 1;
}
.grid--top {
  -webkit-box-align: start;
  align-items: flex-start;
}
.grid--bottom {
  -webkit-box-align: end;
  align-items: flex-end;
}
.grid--center {
  -webkit-box-align: center;
  align-items: center;
}
.animated {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}
@-webkit-keyframes rotateInUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateInUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
/* Modules */
.btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 1px solid transparent;
  padding: 12px;
  cursor: pointer;
}
.btn--border {
  border-color: #fff;
  background: none;
}
.btn--filled {
  background: #212121;
  color: #fff;
  font-weight: 900;
}
.icon-wrapper ul {
  display: -webkit-box;
  display: flex;
}
.icon-wrapper ul li {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.icon-wrapper ul li svg {
  width: 16px;
  height: 16px;
}
.logo {
  fill: #fff;
}
.logo__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__text {
    display: block;
  }
}
.product {
  width: 80%;
  height: 268px;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .product {
    width: 22.5%;
    height: 268px;
  }
}
.product--new:before {
  content: 'NUEVO';
  background-color: #bebebe;
  position: absolute;
  display: block;
  width: 68px;
  height: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  top: -15px;
  left: 0;
  font-size: 85%;
  letter-spacing: 2px;
}
.product__photo {
  width: 97%;
  height: calc(100% - 20px);
  border: 1px solid rgba(33,33,33,0.15);
  text-align: center;
  overflow: hidden;
  margin-left: 3%;
}
.product__photo img {
  width: auto;
  height: 100%;
}
.product__name {
  background-color: #212121;
  width: 97%;
  height: 40px;
  display: block;
  line-height: 40px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  padding: 0 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.product__name b {
  font-weight: 900;
}
.product__name i {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.product__name i svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.section-featured {
  padding: 0 22px;
}
@media screen and (min-width: 768px) {
  .section-featured {
    padding: 0;
  }
}
.section-featured__title {
  font-family: 'Helvetica-Bold', sans-serif;
  margin-bottom: 22px;
  font-size: 32px;
  line-height: 34px;
}
.section-featured__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  padding: 6px 0 6px 18px;
  border-left: 2px solid #212121;
  font-size: 18px;
  letter-spacing: 5.86px;
}
/* Libraries */
.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:after {
  clear: both;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: 0 !important;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Top nav */
header {
  background-color: #212121;
  color: #fff;
  position: relative;
}
header .top-nav {
  width: 100%;
  height: 68px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  header .top-nav {
    padding: 0;
    height: 86px;
  }
}
header .top-nav__logo {
  height: 34px;
}
@media screen and (min-width: 768px) {
  header .top-nav__logo {
    height: 54px;
  }
}
header .top-nav__logo svg {
  height: 100%;
}
header .top-nav__menu {
  display: none;
  height: 100%;
}
@media screen and (min-width: 768px) {
  header .top-nav__menu {
    display: block;
  }
}
header .top-nav__menu ul {
  display: -webkit-box;
  display: flex;
  height: inherit;
}
header .top-nav__menu ul li {
  position: relative;
  height: inherit;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
header .top-nav__menu ul li:hover ul {
  display: -webkit-box;
  display: flex;
}
header .top-nav__menu ul ul {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  top: 86px;
  height: auto;
  background-color: #212121;
  z-index: 9999;
}
header .top-nav__menu ul ul li {
  width: 200px;
  height: auto;
}
header .top-nav__menu ul ul li a {
  display: block;
  width: 90%;
  height: 60px;
  padding: 0;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
header .top-nav__menu ul ul li:first-child a {
  border-bottom: 1px dashed #fff;
}
header .top-nav__menu a {
  letter-spacing: 3.23px;
  padding: 0 8px;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
header .top-nav__menu a:hover {
  color: #9b922c;
}
header .featured-slider {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  header .featured-slider {
    height: 593px;
  }
}
header .featured-slider--medium {
  height: 350px;
}
header .featured-slider__item {
  width: 100%;
  height: 350px;
  padding: 22px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  header .featured-slider__item {
    height: 593px;
    padding: 0;
  }
}
header .featured-slider__text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  header .featured-slider__text {
    height: 593px;
  }
}
header .featured-slider__text .subtitle {
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  header .featured-slider__text .subtitle {
    margin-bottom: 22px;
  }
}
header .featured-slider__text .title {
  margin: 0;
}
@media screen and (min-width: 768px) {
  header .featured-slider__text .title {
    margin: 45px 0 90px;
  }
}
header .featured-slider__text--white {
  color: #fff;
}
header .featured-slider__text hr {
  border: none;
  margin: 0;
  height: 2px;
  background-color: #fff;
  width: 35%;
}
@media screen and (min-width: 768px) {
  header .featured-slider__text hr {
    width: 200px;
  }
}
header .featured-slider__bottom {
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: rgba(255,255,255,0.1);
}
header .dots-wrapper {
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header .dots-wrapper {
    height: 250px;
  }
}
header .dots-wrapper .featured-dots {
  display: -webkit-box;
  display: flex;
  z-index: 999;
  -webkit-box-pack: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  header .dots-wrapper .featured-dots {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}
header .dots-wrapper .featured-dots button {
  font-size: 0;
  background-color: rgba(255,255,255,0.45);
  width: 38px;
  height: 3px;
  border: 0;
  margin: 0 5px;
  outline: 0;
  cursor: pointer;
}
header .dots-wrapper .featured-dots .slick-active button {
  background-color: #fff;
}
header .arrow-wrapper {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 0;
}
header .arrow-wrapper .wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
header .arrow-wrapper button {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: 0;
}
header .arrow-wrapper button svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.featured-video {
  width: 100%;
  height: 135px;
  background-size: cover;
  background-position: center;
  padding: 22px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .featured-video {
    padding: 0;
  }
}
.section {
  padding: 75px 0;
  width: 100%;
  height: auto;
}
.section--skullcandy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.section--skullcandy .section-featured {
  width: 100% !important;
}
.section--skullcandy .section-featured__title {
  margin-bottom: 12px;
}
.section--skullcandy .section-featured__subtitle {
  border: none;
  padding: 0;
  margin: 0;
}
.section .section-featured {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section .section-featured {
    width: 36%;
  }
}
.section .section-right {
  line-height: 1.1;
  text-align: justify;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
  padding: 22px;
}
@media screen and (min-width: 768px) {
  .section .section-right {
    padding: 0;
    padding-left: 75px;
    text-align: right;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    align-items: flex-end;
  }
}
.section .section-right .icon-wrapper {
  margin-bottom: 12px;
}
.back-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  top: 0;
  left: 0;
  background-size: cover;
}
.back-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20,20,20,0.45);
}
.brands {
  height: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .brands {
    height: 400px;
    display: -webkit-box;
    display: flex;
  }
}
.brands__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .brands__item {
    width: 33.333333333333336%;
    height: inherit;
  }
}
.brands__item:nth-child(1) .back-img:after {
  background-color: rgba(20,20,20,0.94);
}
.brands__item:nth-child(2):hover .back-img,
.brands__item:nth-child(3):hover .back-img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.brands__item .caption .section-featured__title {
  margin-bottom: 75px;
}
.brands__item .caption .section-featured__title,
.brands__item .caption .section-featured__subtitle {
  color: #fff;
}
.brands__item .caption .section-featured__subtitle {
  border-color: #fff;
}
.brands__item .caption--logo {
  text-align: center;
}
.brands__item .skullcandy {
  width: 75%;
}
.brands__item .lost {
  width: 55%;
}
.brands__spec {
  width: 66.66666666666666%;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: flex;
}
.brands__spec .spec__item {
  width: 25%;
  height: inherit;
  background-size: cover;
  background-position: left;
}
.brands__spec .spec__item .spec__info {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.brands__spec .spec__item ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #c2c2c2;
  display: -webkit-box;
  display: flex;
}
.brands__spec .spec__item ul li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 20%;
  height: 100%;
}
.brands__spec .spec__item ul li div {
  -webkit-box-flex: 1;
  flex: 1;
}
.brands__spec .spec__item ul li .spec__icon,
.brands__spec .spec__item ul li .spec__text {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
}
.brands__spec .spec__item ul li .spec__icon {
  border-bottom: 1px solid rgba(33,33,33,0.15);
  border-right: 1px solid rgba(33,33,33,0.15);
}
.brands__spec .spec__item ul li .spec__icon svg {
  width: 50px;
  height: 50px;
  fill: #212121;
}
.brands__spec .spec__item ul li:last-child .spec__icon {
  border-right: 0;
}
.show {
  display: block !important;
}
.img-accordion {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.img-accordion__item {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.img-accordion__item .back-img img {
  width: 100%;
  height: auto;
}
.img-accordion__item:nth-child(1) {
  width: 70%;
}
.img-accordion__item:nth-child(2),
.img-accordion__item:nth-child(3) {
  width: 15%;
}
.img-accordion__item .section-featured {
  color: #fff;
}
.img-accordion__item .section-featured__title {
  font-size: 36px;
}
.img-accordion__item .section-featured__subtitle {
  border-color: #fff;
  margin-bottom: 22px;
}
.img-accordion__item .section-featured .btn {
  width: 215px;
}
.section-gallery {
  padding-top: 0;
  height: auto;
}
@media screen and (min-width: 768px) {
  .section-gallery {
    height: 300px;
  }
}
.section-gallery .section-left {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .section-gallery .section-left {
    width: 58%;
  }
  .section-gallery .section-left .section-featured {
    width: auto;
  }
}
.carrousel {
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .carrousel {
    height: 100%;
    margin-top: 0;
  }
}
.carrousel__item {
  height: 100%;
  overflow: hidden;
}
.carrousel__item video,
.carrousel__item iframe {
  width: 100%;
  height: 300px;
}
.carrousel .slick-prev {
  background-color: #212121;
  width: 32px;
  margin: 0 5px;
  border: none;
}
.carrousel .slick-prev svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.newsletter {
  background: url("../img/contact-back.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}
.newsletter .title {
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .newsletter .title {
    font-size: 32px;
  }
}
.newsletter .form {
  display: -webkit-box;
  display: flex;
  margin: 38px auto 0;
  max-width: 775px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .newsletter .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    justify-content: space-around;
  }
}
.newsletter .form input {
  width: 300px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .newsletter .form input {
    margin-bottom: 0;
  }
}
.newsletter .form .btn {
  color: #fff;
  padding-left: 22px;
  padding-right: 22px;
}
.form input,
.form textarea {
  outline: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.form input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 12px 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}
.form input::-webkit-input-placeholder {
  color: #fff;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}
.form input:-moz-placeholder {
  color: #fff;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}
.form input::-moz-placeholder {
  color: #fff;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}
.form input:-ms-input-placeholder {
  color: #fff;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}
.form input:focus::-webkit-input-placeholder {
  -webkit-transform: translate(0, -110%);
  transform: translate(0, -110%);
}
.form input:focus:-moz-placeholder {
  transform: translate(0, -110%);
}
.form input:focus::-moz-placeholder {
  transform: translate(0, -110%);
}
.form input:focus:-ms-input-placeholder {
  transform: translate(0, -110%);
}
.form textarea {
  border: 0;
  resize: none;
}
.footer {
  font-family: 'Roboto', sans-serif;
}
.footer__media {
  background-color: #212121;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 6px 0;
}
.footer__media svg {
  fill: #fff;
}
.footer__copyright {
  padding: 22px 0;
  text-align: center;
  font-size: 14px;
}
/* About Page */
.about .wrapper {
  text-align: center;
}
.about__title {
  border-left: 1px solid #212121;
  display: inline-block;
  margin: 0 auto 45px;
  text-align: left;
}
.about__title h2,
.about__title h3 {
  margin-left: 16px;
}
.about__title h2 {
  font-family: 'Helvetica-Bold', sans-serif;
  font-size: 28px;
  margin-bottom: 8px;
}
.about__title h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}
.about__team {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  letter-spacing: 2px;
}
.about__team .text {
  font-size: 14px;
}
.about__team figure {
  width: 50%;
  height: 250px;
  position: relative;
  overflow: hidden;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .about__team figure {
    width: 16.666666666666668%;
    height: 250px;
  }
}
.about__team figure div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
  background-size: cover;
  background-position: center;
}
.about__team figure figcaption {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  align-items: flex-end;
  padding: 12px;
}
.clients {
  padding: 0 22px;
}
@media screen and (min-width: 768px) {
  .clients {
    padding: 0;
  }
}
.clients hr {
  margin: 22px 0 0 0;
  border: 0;
  height: 1px;
  background-color: #212121;
}
.clients__list {
  max-width: 850px;
  margin: auto;
}
.clients__list ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 45px;
}
.clients__list ul li {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .clients__list ul li {
    width: 20%;
    height: auto;
  }
}
.clients__list ul li:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.clients__list ul li img {
  width: 75%;
  height: auto;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: -webkit-filter 400ms ease;
  transition: -webkit-filter 400ms ease;
  transition: filter 400ms ease;
  transition: filter 400ms ease, -webkit-filter 400ms ease;
}
/* Services */
.services {
  position: relative;
  margin-bottom: 75px;
}
.services .services-top-line,
.services .services-bottom-line {
  background: #212121;
  z-index: -1;
}
.services .services-top-line {
  width: 100%;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
}
.services .services-bottom-line {
  width: 100%;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .services .with-border {
    border-right: 1px dashed rgba(33,33,33,0.25);
  }
}
.service {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.service__title {
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  letter-spacing: 3px;
  background: #212121;
}
@media screen and (min-width: 768px) {
  .service__title--border {
    border-right: 1px dashed rgba(255,255,255,0.25);
  }
}
.service__type {
  display: -webkit-box;
  display: flex;
  padding: 45px;
}
.service__type .icon {
  width: 115px;
  height: 115px;
  border: 1px dashed #212121;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.service__type .icon img {
  height: 50px;
}
.service__type .percent {
  width: 175px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.service__type .percent h2,
.service__type .percent h3 {
  border-top: 1px solid #212121;
  padding: 8px 0;
}
.service__type .percent h2 {
  line-height: 1.2;
}
.service__type .percent h2 span {
  font-size: 32px;
}
.service__type--right {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.service__type--right .icon {
  margin-right: 10px;
}
.service__type--right .percent {
  text-align: right;
}
.service__type--left .icon {
  -webkit-box-ordinal-group: 3;
  order: 2;
  margin-left: 10px;
}
.service__type--left .percent {
  text-align: left;
}
.service__brief {
  padding: 0 45px;
}
.service__brief .text {
  margin-bottom: 45px;
}
.service__brief ul {
  list-style-type: disc;
  list-style-position: inside;
}
.service .btn {
  border: 1px solid #212121;
  max-width: 150px;
  margin: 45px auto;
  font-size: 14px;
  font-weight: 900;
}
/* Contact */
.contact {
  text-align: center;
  padding: 45px 22px;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
.contact hr {
  width: 100px;
  border: 0;
  height: 2px;
  background-color: #212121;
  margin: 45px auto;
}
.contact .title {
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  .contact .title {
    font-size: 32px;
  }
}
.contact .phone {
  margin: 22px;
  display: block;
}
.contact .icon-wrapper ul {
  -webkit-box-pack: center;
  justify-content: center;
}
.contact .icon-wrapper ul li {
  width: 50px;
  height: 50px;
}
.contact .icon-wrapper ul li svg {
  width: 22px;
  height: 22px;
}
.contact-form {
  background-color: #dbdbdb;
  padding: 22px 0;
}
@media screen and (min-width: 768px) {
  .contact-form {
    padding: 45px 0;
  }
}
@media screen and (min-width: 768px) {
  .contact-form .wrapper {
    -webkit-box-align: center;
    align-items: center;
  }
  .contact-form .wrapper .grid__col {
    padding-left: 22px;
  }
}
.contact-form .form {
  width: 100%;
}
.contact-form .title {
  font-size: 28px;
  line-height: 1.3;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact-form .title {
    font-size: 32px;
    border-right: 2px solid #212121;
    padding-right: 22px;
  }
}
.contact-form input {
  color: #212121;
  border-color: #212121;
  width: 100%;
  margin: 14px 0;
}
.contact-form input::-webkit-input-placeholder {
  color: #212121;
}
.contact-form input:-moz-placeholder {
  color: #212121;
}
.contact-form input::-moz-placeholder {
  color: #212121;
}
.contact-form input:-ms-input-placeholder {
  color: #212121;
}
@media screen and (min-width: 768px) {
  .contact-form input {
    margin: 12px 0 0;
  }
}
.contact-form textarea {
  width: 100%;
  height: 75px;
}
@media screen and (min-width: 768px) {
  .contact-form textarea {
    height: 102px;
  }
}
.contact-form .btn {
  margin-top: 14px;
  border-color: #212121;
  font-weight: 900;
  width: 150px;
}
@media screen and (min-width: 768px) {
  .contact-form .btn {
    padding: 8px;
    margin: 0;
  }
}
.contact-form .form {
  padding: 0 22px;
}
@media screen and (min-width: 768px) {
  .contact-form .form {
    padding: 0;
  }
}
.contact-form .form .grid__col {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  align-items: flex-end;
}
/* Technology */
.content-nav {
  background-color: #212121;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 75%;
}
.content-nav ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .content-nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}
.content-nav ul li {
  width: 50%;
  height: 75px;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  border-bottom: 1px dashed #999;
  border-right: 1px dashed #999;
}
.content-nav ul li:nth-child(2n+2) {
  border-right: 0;
}
.content-nav ul li:nth-child(n+5) {
  border-bottom: 0;
}
@media screen and (min-width: 768px) {
  .content-nav ul li {
    width: 33.333333333333336%;
    height: 75px;
    border-right: 1px dashed #999;
    border-bottom: 1px dashed #999;
  }
  .content-nav ul li:nth-child(2n+2) {
    border-right: 1px dashed #999;
  }
  .content-nav ul li:nth-child(3n+3) {
    border-right: 0;
  }
  .content-nav ul li:nth-child(n+4) {
    border-bottom: 0;
  }
}
.content-nav ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.content-nav ul li:hover {
  background-color: #999;
}
.gray-title {
  background-color: #dbdbdb;
  padding: 45px;
}
@media screen and (min-width: 768px) {
  .gray-title {
    padding: 45px 0;
  }
}
.products {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 75px;
}
.products--carrousel {
  padding: 75px 50px;
}
.products--carrousel .right {
  right: 0;
}
.products--carrousel .left {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.products--carrousel .slick-arrow {
  width: 50px;
  height: 50px;
  background: none;
  border: 0;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  outline: 0;
}
.products--carrousel .slick-arrow svg {
  width: 26px;
  height: 26px;
}
.products--carrousel .product {
  height: 160px;
  margin: 0 14px;
}
.products--carrousel .product__photo {
  margin: 10px 0 0 0;
  width: 100%;
  height: 142px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.products--carrousel .product__name {
  display: none;
}
.products--carrousel .product--new:before {
  width: 66px;
  height: 23px;
  font-size: 70%;
  top: 0;
}
@media screen and (min-width: 768px) {
  .products {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
.featured-products {
  background-color: #dbdbdb;
}
.featured-products .grid__col {
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .featured-products .grid__col {
    background-size: cover;
  }
}
.featured-products .grid__col--with-border {
  border-bottom: 1px solid #212121;
}
@media screen and (min-width: 768px) {
  .featured-products .grid__col--with-border {
    border-right: 1px solid #212121;
    border-bottom: 0;
  }
}
.featured-products .featured-main .grid__col {
  height: 373px;
}
.featured-products .featured-main .featured-main-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: space-around;
  align-items: space-around;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 35px;
}
@media screen and (min-width: 768px) {
  .featured-products .featured-main .featured-main-text {
    padding: 35px 0 35px 45px;
  }
}
.featured-products .featured-small .grid__col {
  height: 234px;
  background-size: cover;
}
.single-product {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: auto;
  padding-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .single-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}
.single-product__photos {
  width: 100%;
  height: 150px;
  margin-bottom: 45px;
  overflow: hidden;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .single-product__photos {
    width: 20%;
    height: 455px;
  }
}
.single-product__photos img {
  width: auto;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .single-product__photos img {
    width: 100%;
    height: auto;
  }
}
.single-product .product {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .single-product .product {
    width: 475px;
    height: 475px;
    margin: 0 45px;
  }
}
.single-product__info {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 22px;
}
@media screen and (min-width: 768px) {
  .single-product__info {
    width: 35%;
    padding: 0;
  }
}
.single-product__info .text {
  font-size: 14px;
}
.single-product__title {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 22px;
}
.single-product__title b {
  font-weight: 900;
}
.single-product__subtitle {
  font-size: 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.single-product__subtitle svg {
  width: 18px;
  height: 18px;
}
.single-product__specs {
  margin-top: 22px;
  border-top: 1px dashed #dbdbdb;
  padding: 22px 0;
}
.single-product__specs .text {
  line-height: 1.5;
  margin-top: 22px;
}
.single-product__specs .displayed-content {
  display: none;
}
.single-product__specs .displayed-content--show {
  display: -webkit-box;
  display: flex;
}
.single-product__specs ul {
  display: -webkit-box;
  display: flex;
  width: 100%;
  padding: 22px 0 0;
}
.single-product__specs ul li {
  width: 25%;
}
.single-product__specs .spec {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}
.single-product__specs .spec__icon {
  width: 55px;
  height: 55px;
  border: 1px solid #dbdbdb;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.single-product__specs .spec__icon svg {
  width: 28px;
  height: 28px;
}
.single-product__specs .spec__info ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding: 0 10px;
}
.single-product__specs .spec__info ul li {
  width: 13px;
  height: 13px;
  margin: 2px;
}
.single-product__order {
  padding: 22px 0 0;
  border-top: 1px dashed #dbdbdb;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .single-product__order {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}
.single-product__order .btn {
  font-size: 85%;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .single-product__order .btn {
    margin-top: 0;
  }
}
/* Brands */
.brand-slider {
  width: 100%;
  height: auto;
  margin-bottom: 75px;
}
@media screen and (min-width: 768px) {
  .brand-slider {
    width: 100%;
    height: 553px;
  }
}
.brand-slider__item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  .brand-slider__item {
    background-size: contain;
  }
}
.brand-slider__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 22px;
  -webkit-box-pack: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .brand-slider__content {
    width: 50%;
    height: 100%;
    -webkit-box-align: end;
    align-items: flex-end;
    padding: 0;
    padding-right: 45px;
  }
}
.brand-slider__content .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-bottom: 12px;
}
.brand-slider__content .subtitle {
  letter-spacing: 5px;
  margin-bottom: 12px;
}
.brand-slider__content .dashed-border {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed rgba(33,33,33,0.5);
  margin-bottom: 25%;
}
.brand-slider--skullcandy {
  margin-bottom: 0;
}
.brand-slider--skullcandy .brand-slider__item {
  background-size: cover;
  -webkit-transform: skew(0, 1deg);
  transform: skew(0, 1deg);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 45px 22px;
}
@media screen and (min-width: 768px) {
  .brand-slider--skullcandy .brand-slider__item {
    padding: 0;
  }
}
.brand-slider--skullcandy .brand-slider__content {
  background: rgba(0,0,0,0.5);
  -webkit-transform: skew(0, -1deg);
  transform: skew(0, -1deg);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .brand-slider--skullcandy .brand-slider__content {
    height: 150px;
  }
}
.brand-slider--skullcandy .brand-slider__content .info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .brand-slider--skullcandy .brand-slider__content .info {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    padding-left: 75px;
  }
}
.brand-slider--skullcandy .brand-slider__content .info .title,
.brand-slider--skullcandy .brand-slider__content .info .subtitle {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .brand-slider--skullcandy .brand-slider__content .info .subtitle {
    font-size: 28px;
  }
}
.promo {
  border-top: 1px dashed rgba(33,33,33,0.5);
}
.promo--skullcandy {
  -webkit-transform: skew(0, 1deg);
  transform: skew(0, 1deg);
}
.promo--skullcandy .wrapper {
  height: 120px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .promo--skullcandy .wrapper {
    height: 65px;
  }
}
.promo--skullcandy .wrapper .promo__title {
  position: absolute;
  -webkit-transform: skew(0, -1deg);
  transform: skew(0, -1deg);
}
.promo__title {
  padding: 22px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .promo__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 22px 0;
  }
}
.promo__title .subtitle,
.promo__title .text {
  font-size: 18px;
}
.promo__title .subtitle {
  font-weight: 900;
  margin-right: 45px;
}
.promo__title .text {
  letter-spacing: 4px;
  font-weight: 300;
}
.promo__image {
  width: 100%;
  height: auto;
}
.promo__image img {
  width: 100%;
}
.brand-nav {
  font-family: 'Roboto', sans-serif;
}
.brand-nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .brand-nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}
.brand-nav ul li {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .brand-nav ul li {
    width: 25%;
    height: 65px;
  }
}
.brand-nav--surf {
  border-bottom: 1px dashed rgba(33,33,33,0.5);
}
.brand-nav--surf li {
  border-right: 1px dashed rgba(33,33,33,0.5);
  border-bottom: 1px dashed rgba(33,33,33,0.5);
}
.brand-nav--surf li:last-child {
  border-bottom: 0;
}
@media screen and (min-width: 768px) {
  .brand-nav--surf li {
    border-bottom: 0;
  }
  .brand-nav--surf li:last-child {
    border: 0;
  }
}
.brand-nav--skullcandy {
  margin-top: 4px;
  -webkit-transform: skew(0, 1deg);
  transform: skew(0, 1deg);
  background: #212121;
  color: #fff;
  position: relative;
}
.brand-nav--skullcandy ul li {
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
  border-bottom: 1px dashed rgba(255,255,255,0.5);
}
@media screen and (min-width: 768px) {
  .brand-nav--skullcandy ul li {
    border-right: 1px dashed rgba(255,255,255,0.5);
    border-bottom: 0;
  }
}
.brand-nav--skullcandy ul li:hover {
  background: rgba(255,255,255,0.5);
}
.brand-nav--skullcandy ul li:last-child {
  border-right: 0;
}
.brand-nav--skullcandy ul li a {
  -webkit-transform: skew(0, -1deg);
  transform: skew(0, -1deg);
}
.brand-nav--skullcandy .brand-nav--active {
  background: rgba(255,255,255,0.5);
  border: 0;
}
.single-product--surf {
  max-width: 100%;
  margin: auto;
  padding: 45px 0;
}
.single-product--surf .single-product__order {
  background: #212121;
  color: #fff;
  border-top: 0;
  margin-top: 45px;
  padding: 12px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.single-product--surf .single-product__order .text {
  font-size: 18px;
}
.single-product--surf .product {
  width: 100%;
  padding: 22px;
}
@media screen and (min-width: 768px) {
  .single-product--surf .product {
    width: 33.333333333333336%;
    height: 475px;
    margin: 0;
    padding: 0;
  }
}
.single-product--surf .product__photo {
  border: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 0 0 1%;
}
.single-product--surf .product__photo img {
  width: auto;
  height: 100%;
}
.single-product--surf .vertical-slider {
  width: 100%;
  height: auto;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .single-product--surf .vertical-slider {
    width: 25%;
    height: 100%;
    border-right: 1px dashed rgba(33,33,33,0.5);
  }
}
.single-product--surf .vertical-slider div {
  overflow: hidden;
  height: 113px;
  border-right: 1px dashed rgba(33,33,33,0.5);
}
@media screen and (min-width: 768px) {
  .single-product--surf .vertical-slider div {
    border-bottom: 1px dashed rgba(33,33,33,0.5);
    border-right: 0;
  }
}
.single-product--surf .vertical-slider div img {
  height: 100%;
}
@media screen and (min-width: 768px) {
  .single-product--surf .vertical-slider div img {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 35%;
    height: auto;
    position: absolute;
    top: 0;
    left: 100%;
  }
}
.single-product--surf .vertical-slider .slick-current {
  border-bottom: 1px dashed #cacaca;
}
.single-product--surf .vertical-slider .slick-current img {
  opacity: 0.2;
}
.single-product--surf .vertical-slider .slick-slide {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.single-product--surf .vertical-slider .slick-arrow {
  background: #212121;
  border: none;
  width: 24px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  outline: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .single-product--surf .vertical-slider .slick-arrow {
    width: 100%;
    height: 24px;
    left: 0;
  }
}
.single-product--surf .vertical-slider .slick-arrow svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media screen and (min-width: 768px) {
  .single-product--surf .vertical-slider .slick-arrow svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
.single-product--surf .vertical-slider--skullcandy {
  border: 0;
}
.single-product--surf .vertical-slider--skullcandy div {
  border: 0;
  margin-bottom: 4px;
}
.single-product--surf .vertical-slider--skullcandy div img {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  width: auto;
  height: 100%;
  position: relative;
  left: 0;
}
@media screen and (min-width: 768px) {
  .single-product--surf .vertical-slider--skullcandy div img {
    width: 100%;
    height: auto;
  }
}
.single-product--surf .vertical-slider--skullcandy .slick-current {
  border: 0;
}
.single-product--surf .single-product__info {
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
}
@media screen and (min-width: 768px) {
  .single-product--surf .single-product__info {
    width: 33.333333333333336%;
    height: 33.333333333333336%;
    padding: 0 0 0 22px;
  }
}
