@font-face {
  font-family: 'Helvetica-Bold';
  src: url("../fonts/Helvetica-Bold.woff2") format('woff2'), url("../fonts/Helvetica-Bold.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Fonts */
/* Global stylus */
svg#svg {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  max-width: 1080px;
  width: 100%;
  height: auto;
  margin: auto;
}
.full-width {
  max-width: 100%;
}
.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 27px;
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 22px;
  }
}
.title {
  font-family: 'Helvetica-Bold', sans-serif;
}
.title--big {
  font-size: 32px;
  line-height: 60px;
}
@media screen and (min-width: 768px) {
  .title--big {
    font-size: 55px;
  }
}
.long-title {
  display: flex;
  align-items: flex-end;
}
.long-title .title {
  font-size: 32px;
}
.long-title .subtitle {
  font-size: 18px;
  margin-left: 14px;
  padding-left: 14px;
  border-left: 1px solid #212121;
}
.text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.grid {
  display: flex;
}
@media (max-width: 30em) {
  .grid {
    flex-direction: column;
  }
}
.grid .grid__col {
  flex: 1;
}
.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}
.animated {
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0s;
}
.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}
@-moz-keyframes rotateInUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes rotateInUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@-o-keyframes rotateInUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateInUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
/* Modules */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 1px solid transparent;
  padding: 12px;
  cursor: pointer;
}
.btn--border {
  border-color: #fff;
  background: none;
}
.icon-wrapper ul {
  display: flex;
}
.icon-wrapper ul li {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-wrapper ul li svg {
  width: 16px;
  height: 16px;
}
.logo {
  fill: #fff;
}
.logo__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__text {
    display: block;
  }
}
.section-featured {
  padding: 0 22px;
}
@media screen and (min-width: 768px) {
  .section-featured {
    padding: 0;
  }
}
.section-featured__title {
  font-family: 'Helvetica-Bold', sans-serif;
  margin-bottom: 22px;
  font-size: 32px;
  line-height: 34px;
}
.section-featured__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: block;
  padding: 6px 0 6px 18px;
  border-left: 2px solid #212121;
  font-size: 18px;
  letter-spacing: 5.86px;
}
/* Libraries */
.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:after {
  clear: both;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: 0 !important;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Top nav */
header {
  background-color: #212121;
  color: #fff;
  position: relative;
}
header .top-nav {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  header .top-nav {
    padding: 0;
    height: 86px;
  }
}
header .top-nav__logo {
  height: 34px;
}
@media screen and (min-width: 768px) {
  header .top-nav__logo {
    height: 54px;
  }
}
header .top-nav__logo svg {
  height: 100%;
}
header .top-nav__menu {
  display: none;
  height: 100%;
}
@media screen and (min-width: 768px) {
  header .top-nav__menu {
    display: block;
  }
}
header .top-nav__menu ul {
  display: flex;
  height: inherit;
}
header .top-nav__menu ul li {
  position: relative;
  height: inherit;
  display: flex;
  align-items: center;
}
header .top-nav__menu ul li:hover ul {
  display: flex;
}
header .top-nav__menu ul ul {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 86px;
  height: auto;
  background-color: #212121;
  z-index: 9999;
}
header .top-nav__menu ul ul li {
  width: 200px;
  height: auto;
}
header .top-nav__menu ul ul li a {
  display: block;
  width: 90%;
  height: 60px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-nav__menu ul ul li:first-child a {
  border-bottom: 1px dashed #fff;
}
header .top-nav__menu a {
  letter-spacing: 3.23px;
  padding: 0 8px;
  transition: color 200ms linear;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
header .top-nav__menu a:hover {
  color: #9b922c;
}
header .featured-slider {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  header .featured-slider {
    height: 593px;
  }
}
header .featured-slider__item {
  width: 100%;
  height: 593px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .featured-slider__text {
  width: inherit;
  height: 593px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
header .featured-slider__text .subtitle {
  margin-bottom: 22px;
}
header .featured-slider__text .title {
  margin: 45px 0 90px;
}
header .featured-slider__text hr {
  border: none;
  margin: 0;
  height: 2px;
  background-color: #fff;
  width: 35%;
}
@media screen and (min-width: 768px) {
  header .featured-slider__text hr {
    width: 200px;
  }
}
header .featured-slider__bottom {
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: rgba(255,255,255,0.1);
}
header .dots-wrapper {
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .dots-wrapper .featured-dots {
  display: flex;
  z-index: 999;
}
header .dots-wrapper .featured-dots button {
  font-size: 0;
  background-color: rgba(255,255,255,0.45);
  width: 38px;
  height: 3px;
  border: 0;
  margin: 0 5px;
  outline: 0;
  cursor: pointer;
}
header .dots-wrapper .featured-dots .slick-active button {
  background-color: #fff;
}
.featured-video {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.section {
  padding: 45px 0;
  width: 100%;
  height: auto;
}
.section .section-featured {
  width: 28%;
}
.section .section-right {
  line-height: 1.1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 22px;
}
@media screen and (min-width: 768px) {
  .section .section-right {
    padding-left: 75px;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.section .section-right .icon-wrapper {
  margin-bottom: 12px;
}
.back-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  transition: all 250ms ease;
}
.back-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20,20,20,0.45);
}
.brands {
  height: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .brands {
    height: 400px;
    display: flex;
  }
}
.brands__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .brands__item {
    width: 33.333333333333336%;
    height: inherit;
  }
}
.brands__item:nth-child(1) .back-img:after {
  background-color: rgba(20,20,20,0.94);
}
.brands__item:nth-child(2):hover .back-img,
.brands__item:nth-child(3):hover .back-img {
  transform: scale(1.2);
}
.brands__item .caption .section-featured__title {
  margin-bottom: 75px;
}
.brands__item .caption .section-featured__title,
.brands__item .caption .section-featured__subtitle {
  color: #fff;
}
.brands__item .caption .section-featured__subtitle {
  border-color: #fff;
}
.brands__item .skullcandy {
  height: 55px;
}
@media screen and (min-width: 768px) {
  .brands__item .skullcandy {
    height: 65px;
  }
}
.brands__item .lost {
  height: 100px;
}
.brands__spec {
  width: 66.66666666666666%;
  height: 400px;
  position: relative;
  display: flex;
}
.brands__spec .spec__item {
  width: 25%;
  height: inherit;
  background-size: cover;
  background-position: left;
}
.brands__spec .spec__item .spec__info {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.brands__spec .spec__item ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #c2c2c2;
  display: flex;
}
.brands__spec .spec__item ul li {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}
.brands__spec .spec__item ul li div {
  flex: 1;
}
.brands__spec .spec__item ul li .spec__icon,
.brands__spec .spec__item ul li .spec__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
}
.brands__spec .spec__item ul li .spec__icon {
  border-bottom: 1px solid rgba(33,33,33,0.15);
  border-right: 1px solid rgba(33,33,33,0.15);
}
.brands__spec .spec__item ul li .spec__icon svg {
  width: 50px;
  height: 50px;
  fill: #212121;
}
.brands__spec .spec__item ul li:last-child .spec__icon {
  border-right: 0;
}
.show {
  display: block !important;
}
.img-accordion {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: none;
}
.img-accordion__item {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-accordion__item .back-img img {
  width: 100%;
  height: auto;
}
.img-accordion__item:nth-child(1) {
  width: 70%;
}
.img-accordion__item:nth-child(2),
.img-accordion__item:nth-child(3) {
  width: 15%;
}
.img-accordion__item .section-featured {
  color: #fff;
}
.img-accordion__item .section-featured__title {
  font-size: 36px;
}
.img-accordion__item .section-featured__subtitle {
  border-color: #fff;
  margin-bottom: 22px;
}
.img-accordion__item .section-featured .btn {
  width: 215px;
}
.section-gallery {
  padding-top: 0;
  height: auto;
}
@media screen and (min-width: 768px) {
  .section-gallery {
    height: 300px;
  }
}
.section-gallery .section-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .section-gallery .section-left {
    width: 58%;
  }
  .section-gallery .section-left .section-featured {
    width: auto;
  }
}
.carrousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .carrousel {
    height: 100%;
    margin-top: 0;
  }
}
.carrousel__item {
  height: 100%;
  overflow: hidden;
}
.carrousel__item video,
.carrousel__item iframe {
  height: 300px !important;
}
.carrousel .slick-prev {
  background-color: #212121;
  width: 32px;
  margin: 0 5px;
  border: none;
}
.carrousel .slick-prev svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.newsletter {
  background: url("../img/contact-back.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}
.newsletter .title {
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .newsletter .title {
    font-size: 32px;
  }
}
.newsletter .form {
  display: flex;
  margin: 38px auto 0;
  max-width: 775px;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .newsletter .form {
    flex-direction: row;
    justify-content: space-around;
  }
}
.newsletter .form input {
  width: 300px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .newsletter .form input {
    margin-bottom: 0;
  }
}
.newsletter .form .btn {
  color: #fff;
  padding-left: 22px;
  padding-right: 22px;
}
.form input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 12px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  outline: 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}
.form input::-webkit-input-placeholder {
  color: #fff;
  transition: transform 250ms ease;
}
.form input:-moz-placeholder {
  color: #fff;
  transition: transform 250ms ease;
}
.form input::-moz-placeholder {
  color: #fff;
  transition: transform 250ms ease;
}
.form input:-ms-input-placeholder {
  color: #fff;
  transition: transform 250ms ease;
}
.form input:focus::-webkit-input-placeholder {
  transform: translate(0, -110%);
}
.form input:focus:-moz-placeholder {
  transform: translate(0, -110%);
}
.form input:focus::-moz-placeholder {
  transform: translate(0, -110%);
}
.form input:focus:-ms-input-placeholder {
  transform: translate(0, -110%);
}
.footer {
  font-family: 'Roboto', sans-serif;
}
.footer__media {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
}
.footer__media svg {
  fill: #fff;
}
.footer__copyright {
  padding: 22px 0;
  text-align: center;
  font-size: 14px;
}
/* About Page */
.about .wrapper {
  text-align: center;
}
.about__title {
  border-left: 1px solid #212121;
  display: inline-block;
  margin: 0 auto 45px;
  text-align: left;
}
.about__title h2,
.about__title h3 {
  margin-left: 16px;
}
.about__title h2 {
  font-family: 'Helvetica-Bold', sans-serif;
  font-size: 28px;
  margin-bottom: 8px;
}
.about__title h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}
.about__team {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  letter-spacing: 2px;
}
.about__team .text {
  font-size: 14px;
}
.about__team figure {
  width: 50%;
  height: 250px;
  position: relative;
  overflow: hidden;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .about__team figure {
    width: 16.666666666666668%;
    height: 250px;
  }
}
.about__team figure div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(40%);
  background-size: cover;
  background-position: center;
}
.about__team figure figcaption {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 12px;
}
.clients hr {
  margin: 22px 0 0 0;
  border: 0;
  height: 1px;
  background-color: #212121;
}
.clients__list {
  max-width: 850px;
  margin: auto;
}
.clients__list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 45px;
}
.clients__list ul li {
  width: 20%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__list ul li:hover img {
  filter: grayscale(0);
}
.clients__list ul li img {
  width: 75%;
  height: auto;
  filter: grayscale(1);
  transition: filter 400ms ease;
}
