.btn
	flex-center()
	font-family $secundary_font
	font-size 16px
	border 1px solid transparent
	padding 12px
	cursor pointer
	+m('border')
		border-color white 
		background none
	+m('filled')
		background $black
		color white
		font-weight 900